<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Petition</title>
        <link
            href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;400&family=Raleway:wght@200&display=swap"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="style.css" />
    </head>
    <body>
        <div class="input">
            <h1> WE WILL MAKE THE CHANGE!</h1>
        </div>

        {{{body}}}

        <script src="script.js"></script>
    </body>
</html>