<div class="text-container">
<div class="login-paragraph"> 
<h4>Universal basic Income (UBI) or in German ("Grundeinkommen") referes to an economic model under which adults recieve <br />
a monthly payment from the government, regardless of their ability to work<br />
The concept became very popular recently among politician due to the fast paced technological advancement regarding automation and AI replacing many of the work done by human </br>
This petition is calling for one year pilot project to apply UBI so this concept can be assesed in a large scale</br>
almost more than half of German (45 to 52 percent) in favour of UBI as it was shown in study in 2019 </br>
             This economic concept if succeded it would have transformative impact on our society</h4> </br>
           <h3>Please sign the petition to test Universal Basic Income nationwide for one year </h3>
</div>
</div>

<div class="login-form">
<form method="POST">
    <h2> Please login </h2></br>
    <label for="email">Enter your Email:</label>
    <input type="email" id="email" name="email" required />
    <br />
    <label for="password">Password (8 characters minimum):</label>
    <input
        type="password"
        id="password"
        name="password"
        minlength="8"
        required
    /></br>
    <button id="Submit" type="submit">Submit</button></br></br>
    <p>
    If you do not have an account
    <a href="http://localhost:5000/register"><h2>register here please</h2></a>
</p>
</form>
</div>

