<h2> Please login </h2>
<form method="POST">
    <label for="email">Enter your Email:</label>
    <input type="email" id="email" name="email" required />
    <br />
    <label for="password">Password (8 characters minimum):</label>
    <br />
    <input
        type="password"
        id="password"
        name="password"
        minlength="8"
        required
    />
    <button id="Submit" type="submit">Submit</button>
</form>
<p>
    If you are not already a member please
    <a href="http://localhost:5000/register"><h2>register here please</h2></a>
</p>