<form method="POST">
    <label for="firstName">First name:</label><br />
    <input type="text" id="first" name="first" /><br />
    <label for="lastName">Last name:</label><br />
    <input type="text" id="lastName" name="last" /><br />

    <div class="container">
        <h3> Please sign here </h3>
        <canvas id="sig-canvas" width="620" height="160">

        </canvas>
    </div>

    <button id="Submit" type="submit">Submit</button>
</form>