<div class="petition-container">
    <form class="petition-form" type="submit" method="POST">

        <h3> Please sign here </h3>
        <input type="hidden" class="signature" name="signature" />
        <canvas id="canvas" width="620" height="160">
        </canvas>
        <input type="Submit" value="submit" />

    </form>
</div>