<div class="profile-container">
    <h2> We will be happy to know more about you </h2>
    <form class="profile-form" method="POST">
        <div class="profile-input">
            <label for="age">Age:</label>
            <input type="text" id="fage" name="age" /><br />
        </div>
        <div class="profile-input">
            <label for="city">City</label>
            <input type="text" id="city" name="city" /><br />
        </div>
        <div class="profile-input">
            <label for="Homepage">Homepage:</label>
            <input type="text" id="" name="url" /><br />
        </div>
        <div class="profile-input">
            <button type="submit" class="continue">
                <a href="http://localhost:5000/petition"><h4
                    >continue</h4></a></button>
        </div>
    </form>
</div>