<h2> We will be happy to know more about you </h2>
<form method="POST">
    <label for="age">Age:</label><br />
    <input type="text" id="fage" name="age" /><br />
    <label for="city">City</label><br />
    <input type="text" id="city" name="city" /><br />
    <label for="Homepage">Homepage:</label>
    <input type="text" id="" name="url" /><br />

    <button type="submit" class="continue">
        <a href="http://localhost:5000/petition"><h2>continue</h2></a></button>
    <br />
</form>