<div class="register-body"> </div>
<form class="registerForm" method="POST">
<div class="register-input">
    <label for="firstName">First name:</label>
    <input type="text" id="first" name="first" /><br />
    </div>
    <div class="register-input">
    <label for="lastName">Last name:</label>
    <input type="text" id="lastName" name="last" /><br />
     </div>
     <div class="register-input">
    <label for="email">Enter your Email:</label>
    <input type="email" id="email" name="email" required /><br />
     </div>
     <div class="register-input">
    <label for="password">Password (8 characters minimum):</label>
    <input
        type="password"
        id="password"
        name="password"
        minlength="8"
        required
    />
    <br />
    </div>
    <div class="register-input">
    <button type="submit" class="signupbtn">Sign Up</button>
    </div>
</form>
</div>