<div class="thankyou-message-container">
    <h2>
        Thank you for taking a first step towards real change by signing the
        petition</h2>
</div>
<div class="link-to-signers-page">#
    <a href="http://localhost:5000/signers"><h2>Wanna see who already took part
            of change and signed the petition</h2></a>
</div>